<a class="button" href="/api">Add New</a>
<br><br>
{{#each cars as |car| }}
<div class="row" style="height:200px; padding:5px;">
  <div class="col-md-3">
    <img src="/images/{{car.Image}}" style="height:180px;">
  </div>
  <div class="col-md-9">
    <div class="row" style="padding-top:10px;">
      <div class="col-md-4"><h4>Make: {{car.Make}}</h4></div>
      <div class="col-md-4"><h4>Model: {{car.Model}}</h4></div>
      <div class="col-md-4"><h4>Year: {{car.Year}}</h4></div>
    </div>
    <div class="row" style="padding-top:10px;">
      <div class="col-md-4"><h4>Type: {{car.Type}}</h4></div>
      <div class="col-md-8"><h4>Color: {{car.Color}}</h4></div>
    </div>
    <div class="row" style="padding-top:10px;">
      <div class="col-md-4"><h4>Mileage: {{car.Mileage}}</h4></div>
      <div class="col-md-8"><h4>Sold for: {{car.Sold}}</h4></div>
    </div>
  </div>
</div>
  <hr>
{{/each}}